/*
    CSS Styling guide
    https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Organizing#:~:text=Compiling%20component%20stylesheets,separate%20stylesheet%20for%20each%20component.
*/

/* UTILITY STYLES */ 
.rounded_container { 
    background-color: #ffffff; 
    border-radius: 0.5rem; 
    border: 2px solid #212529;
}


/* GENERIC STYLES */
.loader {
    width: 30px;       /* adjust size as needed */
    height: 30px;
    pointer-events: none; /* allows clicks to pass through */
}

.loader_login_page {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;       /* adjust size as needed */
    height: 24px;
    transform: translate(220%, -50%);
    display: none;     /* hidden by default. On show on 'block' */
    pointer-events: none; /* allows clicks to pass through */
    z-index: 2;
}

.content_divider {
    width: 50%; 
    height: 2px; 
    background-color: #212529; 
    margin-top: 5%; 
    margin-bottom: 5%;
    margin-left: 25%;
}